{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="/css/login.css">
    <style>
        .hiddenPassword{
            margin-right: 10px;
            border:0;
            background-color:#e7e5e5;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {
            /**
              * Show password toggle button
              */
            $('#inputPassword').hidePassword({
                show: false,
                innerToggle: true,
                toggle: {
                    className: 'hiddenPassword',
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <form class="form-signin" method="post" id="formPassword" action="/password/reset-password">
        <input type="hidden" name="token" value="{{ token }}" />
        <input type="password" id="inputPassword" class="form-control" style="margin-bottom:1em;z-index:0" name="password" placeholder="Enter new password" required />
        {% for message in flash_messages %}
            <div class="alert alert-{{ message.type }}" style="margin-top:1em" role="alert">
                {{ message.body|raw }}
            </div>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Set password</button>
    </form>
{% endblock %}
