{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block customCSS %}<link rel="stylesheet" href="/css/login.css">{% endblock %}

{% block body %}
<div class="blur"></div>
    <form class="form-signin" action="/login" method="post">
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Benutzername" required autofocus>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Passwort" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember_me" value="remember-me" {% if remember_me %} checked="checked"{% endif %}> Merke Anmeldung
            </label>
        </div>
        {% for message in flash_messages %}
            <div class="alert alert-{{ message.type }}" role="alert" style="margin-bottom:11px">
                {{ message.body }}
            </div>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom:2px">Anmelden</button>
        <a href="/signup/new" class="float-left" style="margin-top:2px">Registrieren</a>
        <a href="/password/forgot" class="float-right" style="margin-top:2px">Password vergessen</a>
    </form>

{% endblock %}
